/*-- scss:defaults --*/
/* Define variables and defaults */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
  --bs-nav-pills-link-active-bg: #fcef5d;
  --text-color: #f8f8f2;
  --bg-color: #282a36;
  --highlight-color: #56c700;
  --accent-color: #ff79c6;
  --border-color: #44475a;
}

/*-- scss:rules --*/
/* Apply global styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Images */
img.rounded {
  object-fit: cover;
  border-radius: 10% !important;
  height: 240px;
  width: 250px;
  margin-top: 18px;
  border: 2px solid var(--border-color);
}
@media screen and (max-width: 952px) {
  img.rounded {
    height: 100%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Navigation Pills */
.nav-pills .nav-link.active {
  background-color: var(--bs-nav-pills-link-active-bg);
  color: var(--text-color);
}

/* Buttons */
.circle-button {
  border-radius: 40%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--highlight-color);
  padding: 40px;
  width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
}
.circle-button:hover {
  opacity: 0.8;
}

/* Font Awesome Icons */
.fa-solid {
  color: var(--accent-color);
}

/* Clipped Elements */
.clipped {
  clip-path: circle();
}

/* Scrollable Outputs */
.output-scroll {
  max-height: 500px;
  overflow-y: scroll;
  margin-bottom: 20px;
  background-color: var(--highlight-color);
  padding: 10px;
  border-radius: 5px;
}

/* Figure Captions */
.figure-caption {
  text-align: center;
  font-size: 0.8em !important;
  color: var(--text-color);
}

.sidebar-logo{
  max-width: 100% !important;
}  

/* Responsive Centering */
@media screen and (max-width: 952px) {
  .centre-it {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
